body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ece9e6, #ffffff);
  
    color: #f5f5f5;
}


body.modo-escuro {

    background: -webkit-linear-gradient(to top, #414345, #232526);
   
    background: linear-gradient(to top, #414345, #232526);
  

    color: #f5f5f5;
}

.modo-escuro .card-lutador {
    background-color: #666666;
}

.modo-escuro .card-lutador:hover {
    background-color: #939393;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

header #botao-alterar-tema {
    border: none;
    padding: 5px;
    background: none;
    cursor: pointer;
}

header .logo-cabecalho,
header .imagem-botao-sol {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logo-cabecalho:hover,
main .card-lutador:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-mortal-kombat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

main .card-lutador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(to bottom, #3c3b3f, #434130);
    background: linear-gradient(to bottom, #3c3b3f, #434130);
    width: 200px;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.431);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

main .card-lutador:hover {
    background-color: #666666;
    -webkit-box-shadow: 0px 0px 2px 2px rgb(225, 43, 43);
    -moz-box-shadow: 0px 0px 2px 2px rgba(225, 43, 43);
    box-shadow: 0px 0px 2px 2px rgba(225, 43, 43);
}


main .card-lutador .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #212121;
    border-radius: 10px;
}

main .card-lutador .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;

}

main .card-lutador .gif {
    width: 90px;
    height: 100px;
}

main .card-lutador .tipos {
    display: flex;
    gap: 15px;
    color: #212121;
}

main .card-lutador .tipo {
    padding: 8px;
    border-radius: 10px;
}

main .descricao {
    background-color: #f5f5f5;
    color: #212121;
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
    padding: 4px;
}

.caracteristica {
    background: -webkit-linear-gradient(to right, #ada996, #d2cfcf, #dbdbdb, #d2cfcf);
    background: linear-gradient(to right, #ada996, #d2cfcf, #dbdbdb, #d2cfcf);

}

.habilidade {
    background: -webkit-linear-gradient(to right, #ada996, #d2cfcf, #dbdbdb, #d2cfcf);
    background: linear-gradient(to right, #ada996, #d2cfcf, #dbdbdb, #d2cfcf);
}