body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffffad;
    color: #f5f5f5;
}
/*MODO ESCURO*/
body .modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

.modo-escuro .card-lutador {
    background-color: #7e8bff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
}

header .logo-cabecalho,
header .imagem-botao-sol {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logo-cabecalho:hover,
main .card-lutador:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-mortal-kombat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

main .card-lutador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #939393;
    width: 200px;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .card-lutador:hover {
    background-color: #666666;
}


main .card-lutador .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--preto);
    border-radius: 10px;
}

main .card-lutador .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;

}

main .card-lutador .gif {
    width: 90px;
    height: 100px;
}

main .card-lutador .tipos {
    display: flex;
    gap: 15px;
}

main .card-lutador .tipo {
    padding: 8px;
    border-radius: 10px;
}

main .descricao {
    background-color: green;
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
    padding: 4px;
}

/*HABILIDADE*/
.fogo {
    background-color: #ff6c6c;
}

.raio {
    background-color: #ffec6f;
}

.metal {
    background-color: #d8d8d8;
}

.gelo {
    background-color: #80f0ff;
}

.magia {
    background-color: rgb(152, 120, 255);
}

.forca {
    background-color: #ffa86e;
}

.teletransporte {
    background-color: rgb(255, 154, 228);
}


/*CARACTERISTAS*/
.humano {
    background-color: #ffd8bd;
}

.deus {
    background-color: #7e8bff;
}

.fantasma {
    background-color: #a3ffa3;
}

.mutante {
    background-color: #d288ff;
}