:root {
    --cinza: #b3b3b300;
    --branco: #ffffff;
    --preto: #0d0d0d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--cinza);
    color: var(--preto);
}

body.modo-escuro {
    background-color: var(--preto);
    color: var(--branco);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 25px;

}

header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
}

header .logo-cabecalho,
header .imagem-botao-sol {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logo-cabecalho:hover,
main .card-lutador:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    background-color: wheat;
    padding: 25px;
}

main .listagem-mortal-kombat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

main .card-lutador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 200px;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .card-lutador:hover {
    background-color: aqua;
}

.modo-escuro .card-lutador {
    background-color: greenyellow;
}

main .card-lutador .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--preto);
    border-radius: 10px;
}

main .card-lutador .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;

}

main .card-lutador .gif {
    width: 90px;
    height: 100px;
}

main .card-lutador .tipos{
    display: flex;
    gap: 15px;
}

main .card-lutador .tipo{
    padding: 8px;
    border-radius: 10px;
}

.fogo{
    background-color: orange;
}